django.env/
*.pyc
__pycache__/
db.sqlite3
/staticfiles/
media/
.env
.vscode/
.DS_Store
.idea/
*.log
*.sqlite3
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.orig
node_modules/
coverage/
*.cover
htmlcov/
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
.tox/
.coverage
nosetests.xml
coverage.xml
*.coveragerc
pytest_cache/
.mypy_cache/
local_settings.py
settings/local.py
settings/dev.py
