<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/expense_tracker_app/style.css">
</head>
<body>
    <form method="post" action="{% url 'user_login' %}">
        {% csrf_token %}
        <div class="login-header">
            <h2>Login</h2>
            <button><a href="{% url 'user_signup' %}">Sign Up</a></button>
        </div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit" name="login">Login</button>
    </form>
</body>
</html>